<div class="shadow-sm card">
      <div class="img-wrapper">
        <img class="card-img-top" src="assets/Images/home.png">
        <ul class="list-inline text-center member-icon animate">
          <li class="list-inline-item">
            <button class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h1>{{Property.Name}}</h1>
        <h2>{{Property.Type}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div>


